<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <h1 style="text-align: center">Georg GitHub Pages</h1>

        <hr>

        <div class="pageMiddle">
            <div class="pageMiddleLeft">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/cv">CV</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/web_publishing">Web publishing</a></li>
                        <li>:eyes:</li>
                    </ul>
                </nav>
            </div>

            <hr>

            <div class="pageMiddleCenter">
                <h2>{{ page.title }}</h2>
                {{ content }}
            </div>
        </div>

        <br><br>

        <div class="pageBottom">
            <footer>
                <ul>
                    <li><a href="mailto:juraj.246@gmail.com">juraj.246@gmail.com</a></li>
                    <li><a href="https://github.com/georg11">github.com/georg11</a></li>
                    <li>:octocat:</li>
                </ul>
            </footer>
        </div>
    </body>
</html>
