---
layout: default
---

<p class="meta">{{ page.date | date_to_long_string }}</p>

<div class="post">
  {{ content }}
</div>

<br>

<div>
    <span> :+1: </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span> :-1: </span>
</div>

<br>

<div>
    [{{page.comment}}]
</div>

<br>

<div>
    Tags: {{ page.tags | array_to_sentence_string }}
</div>

<br>

<div>
    {% if page.previous.url %}
        <a href="{{page.previous.url}}"><< previous post</a>
    {% endif %}
    |
    {% if page.next.url %}
        <a href="{{page.next.url}}">next post >></a>
    {% endif %}
</div>
